.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar{
    padding:0;
    background-color: var(--brand-lighter);
}
.nav-item{
    color: var(--brand-dark);
    display: flex;
    align-items: center;
    height:100%;
    padding-inline:1rem;
}
.nav-item:hover{
    background-color: var(--brand-light);
    color:var(--brand-light);
    border-bottom:var(--brand-light);
    cursor: pointer;
}
.navbar-brand img{
    height:40px;
    width:40px
}
#navbarDropdown{
    background-color:var(--brand-light);
}
.user-dropdown{
    height:40px;
}