.left-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: rgb(215, 250, 245);
    position:relative;
}
.row{
    width: 900px;
    border-radius: 10px;
    min-height: 450px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
    
}
.left-image p{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50% -50%);
    color: var(background-color);
    text-wrap:wrap;
    text-align: center;
    font-size: large;
    font-weight: 200;
}