
.common-button{
padding: .3rem .7rem;
background-color: var(--brand-light);
border: 1px solid var(--brand-lighter);
border-radius: 5px;
}
.common-button:hover{
    background-color: aquamarine;
    color:var(--brand-light);

}
.common-button:active{
   transform:scale(.97);
}